body {
    width: 100%;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
	background-size:cover;
    margin: 0px;
    position: absolute;
}

  *,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }