@media only screen and (min-width: 1001px) {
    .cleaned_number_block {
        width: 1170px;
        display: inline-block;
        text-align: left;
    }

    .cleaned_header_block {
        margin-top: 90px;
    }


    .example_img {
        width: 550px;
        height: 293px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        margin-top: -40px;

    }

    .examples_block {
        display: inline-block;
        width: 550px;
        height: 710px;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 20px;
        vertical-align: top;
        box-shadow: 1px 2px 3px 0;
    }

    .example_info {
        margin-top: 23px;
        margin-left: 38px;
    }

    .example_text {
        font-size: 20px;
        font-family: Eastman;
    }

    .examle_time_price {
        display: flex;
        font-size: 13px;
    }

    .ex_time_img {
        width: 17px;
        height: 17px;
        background-image: url(assets/clock.png);
        background-repeat: no-repeat;
    }

    .ex_ruble_img {
        width: 17px;
        height: 17px;
        background-image: url(assets/ruble_ico.png);
        background-repeat: no-repeat;
        margin-left: 22px;

    }

    .ex_area_img {
        width: 17px;
        height: 17px;
        background-image: url(assets/area_ico.png);
        background-repeat: no-repeat;
        margin-left: 22px;
    }

    .time_work {
        font-family: Minsans;
        margin-right: 3px;
        margin-left: 5px;
    }

    .ex_time {
        font-family: Minsans;
        font-weight: 500;

    }

    .ex_work_types {
        font-size: 16px;
        font-family: Minsans;
        font-weight: 400;
        margin-top: -5px;
    }

    .ex_tip_img {
        width: 16px;
        height: 16px;
        background-image: url(assets/ex_tip.png);
    }

    .ex_work_types_text {
        display: flex;
    }

    .ex_work_tipes_info {
        font-weight: 400;
        font-size: 14px;
        font-family: Minsans;
        margin-left: 8px;
        margin-top: -1px;
    }

    .ex_work_tipes_block {
        width: 240px;
        height: 150px;
    }

    .ex_movie_block {
        border: 1px #b7bbc7;
        border-radius: 30px;
        width: 160px;
        height: 100px;
        border-style: solid;
        margin-left: 90px;
        display: inline;
        text-align: center;
    }

    .ex_main_block {
        display: flex;
        margin-top: 33px;
    }

    .video_play {
        margin-top: 10px;
        width: 35px;
        height: 35px;
        border-style: hidden;
        background-color: #f5f7fa;
        background-image: url(assets/video_play.png);
    }

    .video_play_text {
        font-size: 14px;
        font-family: Minsans;

    }

    .video_play_text_bot {
        font-size: 14px;
        font-family: Minsans;
        margin-top: -2px;
    }

    .ex_cleaning_button {
        margin-left: 55px;
        margin-top: 35px;
    }

    .ex_input_button {
        border-radius: 50px;
        border: 0px #01b9fc solid;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #01b9fc;
        margin-left: -60px;
        margin-top: -1px;
        text-align: center;
        font-size: 14px;
        font-family: Eastman;
        color: #fff;
        cursor: pointer;
    }

    button.ex_input_button:hover {
        opacity: 80%;
    }

    .ex_case_button {
        border-radius: 50px;
        border: 0px #e8ecf2 solid;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #e8ecf2;
        margin-left: 10px;
        margin-top: -1px;
        text-align: center;
        font-size: 14px;
        font-family: Eastman;
        color: #010328;
        cursor: pointer;
    }

    button.ex_case_button:hover {
        opacity: 80%;
    }

    .cleaned_number_head {
        font-size: 32px;
        font-weight: 400;
        font-family: Eastman;
        color: #000227;
    }

    .cleaning_example_header {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        font-family: Minsans;
        color: #00022799;
    }
}

@media only screen and (max-width: 1000px) {

    .cleaned_number_block {
        width: 375px;
        display: inline-block;
        text-align: left;
    }

    .cleaned_header_block {
        margin-top: 90px;
        margin-left: 20px;
    }


    .example_img {
        width: 330px;
        height: 193px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        margin-top: -40px;

    }

    .examples {
        display: flex;
        background: linear-gradient(to right, #f3f5f7, #ebedf2);

    }

    .examples_block {
        display: inline-block;
        width: 330px;
        height: 770px;
        border-radius: 20px;
        margin-left: 20px;
        vertical-align: top;
        background-color: #fefefe;
    }

    .example_info {
        margin-top: -40px;
        margin-left: 20px;
        display: inline-block;
    }

    .example_text {
        font-size: 20px;
        font-family: Eastman;
    }

    .examle_time_price {
        display: inline-block;
        font-size: 15px;
        margin-top: -10px;
    }

    .examle_time_price_block {
        margin-left: 20px;
        margin-top: -19px;
        margin-bottom: 7px;
    }

    .ex_time_img {
        width: 17px;
        height: 17px;
        background-image: url(assets/clock.png);
        background-repeat: no-repeat;
    }

    .ex_ruble_img {
        width: 17px;
        height: 17px;
        background-image: url(assets/ruble_ico.png);
        background-repeat: no-repeat;
    }

    .ex_area_img {
        width: 17px;
        height: 17px;
        background-image: url(assets/area_ico.png);
        background-repeat: no-repeat;
    }

    .time_work {
        font-family: Minsans;
        margin-right: 3px;
        margin-left: 5px;
    }

    .ex_time {
        font-family: Minsans;
        font-weight: 500;

    }

    .ex_work_types {
        font-size: 16px;
        font-family: Minsans;
        font-weight: 400;
        margin-top: -5px;
    }

    .ex_tip_img {
        width: 16px;
        height: 16px;
        background-image: url(assets/ex_tip.png);
    }

    .ex_work_types_text {
        display: flex;
        margin-top: -5px;
    }

    .ex_work_tipes_info {
        font-weight: 400;
        font-size: 14px;
        font-family: Minsans;
        margin-left: 8px;
        margin-top: -1px;
    }

    .ex_work_tipes_block {
        width: 240px;
        height: 150px;
    }

    .ex_movie_block {
        border: 1px #b7bbc7;
        border-radius: 30px;
        width: 290px;
        height: 65px;
        border-style: solid;
        display: flex;
        text-align: center;
        margin-top: 15px;
        margin-bottom: -20px;
    }

    .ex_main_block {
        display: inline-block;
        margin-top: 15px;
    }

    .video_play {
        margin-top: 12px;
        width: 35px;
        height: 35px;
        margin-left: 20px;
        border-style: hidden;
        background-color: #fefefe;
        background-image: url(assets/video_play.png);
    }

    .video_play_text {
        font-size: 13px;
        margin-left: -72px;
        margin-top: 20px;
        font-family: Minsans;
    }

    .video_play_text_bot {
        font-size: 13px;
        margin-left: 159px;
        font-family: Minsans;
        margin-top: -16px;
    }

    .ex_cleaning_button {
        margin-left: 43px;
        margin-top: 35px;
    }

    .ex_input_button {
        border-radius: 50px;
        border: 0px #01b9fc solid;
        padding-right: 70px;
        padding-left: 70px;
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: #01b9fc;
        margin-left: -30px;
        margin-top: -1px;
        text-align: center;
        font-size: 14px;
        font-family: Eastman;
        color: #fff;
        cursor: pointer;
    }

    button.ex_input_button:hover {
        opacity: 80%;
    }

    .ex_case_button {
        border-radius: 50px;
        border: 0px #e8ecf2 solid;
        padding-right: 80px;
        padding-left: 80px;
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: #e8ecf2;
        margin-left: -32px;
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
        font-family: Eastman;
        color: #010328;
        cursor: pointer;
    }

    button.ex_case_button:hover {
        opacity: 80%;
    }

    .cleaned_number_head {
        font-size: 32px;
        font-weight: 400;
        font-family: Eastman;
        color: #000227;
    }

    .cleaning_example_header {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        font-family: Minsans;
        color: #00022799;
    }
}