@import url(fonts.css);

@media only screen and (min-width: 1001px) {
	.header{
		display: flex;
	}

	.header_bg {
		background-color: #F5F7FA;
	}

	.header_inline {
		display: inline-block;
		margin-left: 64px;
		margin-right: 0px;
	}

	.header_logo {
		width: 39px;
		height: 37px;
		background-image: url(assets/logo_service.png);
		background-repeat: no-repeat;
		background-size: cover;
		margin-left: 0px;
		margin-right: 0px;
	}

	.header_logo_text {
		margin-left: 2px;
	}

	.header_clean {
		color: #000227;
		font-family: Eastman_bold;
		font-size: 19.358110427856445px;
		margin-bottom: 0px;
	}

	.header_service {
		color: rgba(255, 102.00000151991844, 0, 1);
		font-family: Minsans;
		font-size: 11.333333015441895px;
		margin-top: 0px;
	}

	.header_tagline {
		color: #000227C3;
		font-family: Minsans;
		font-size: 12;
		margin-top: 6px;
		margin-bottom: 6px;
	}

	.header_address_img {
		width: 12px;
		height: 15px;
		background-image: url(assets/header_address.png);
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		margin-top: -40;
	}

	.header_address {
		color: #000227;
		font-family: Minsans_bold;
		font-size: 14;
		margin-bottom: 2px;
		display: inline-block;
	}

	.header_timework {
		color: #000227C3;
		font-family: Minsans;
		font-size: 14;
		margin-top: 2px;
		margin-left: 17px;
	}

	.header_watsapp {
		width: 30px;
		height: 30px;
		background-image: url(assets/whatsapp.png);
		background-repeat: no-repeat;
		background-size: cover;
		margin-left: 45px;
	}

	.header_watsapp:hover {
		opacity: 80%;
	}

	.header_telegram {
		width: 30px;
		height: 30px;
		background-image: url(assets/telegram.png);
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0px;
		margin-right: -50px;
	}

	.header_telegram:hover {
		opacity: 80%;
	}

	.header_phone {
		color: #000227;
		font-family: Minsans_bold;
		font-size: 20;
		margin-bottom: 0px;
		margin-right: 30px;
	}

	.header_mail {
		color: #000227C3;
		font-family: Minsans;
		font-size: 14;
		margin-top: 0px;
	}

	.header_mail:hover {
		color: #000227;
	}

	.header_invite {
		background-color: #FFF;
		display: inline-block;
		position: relative;
		border-radius: 52px;
		margin-left: 5px;
		overflow: hidden;
		text-align: center;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}

	.header_invite:hover {
		border: 2px solid #00BBFC;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
		margin-left: 3px;
		margin-bottom: -2px;
	}

	.header_invite_text {
		color: #000227;
		font-family: Minsans_bold;
		font-size: 14;
		margin-left: 25px;
		margin-right: 25px;
	}


	.menu_container {
		height: 55px;
		background-color: #E8ECF2;
	}

	.min_menu_container {
		height: 55px;
		background-color: #E8ECF2;
		/* display: none; */
	}

	.menu_block {
		display: flex;
	}

	.menu_block>a {
		color: #000227;
		text-decoration: none;
		font-family: Minsans;
		font-size: 14px;
		margin-right: 30px;
		margin-top: 18px;
	}

	.menu_block>a:hover {
		opacity: 80%;
	}

	.menu_this {
		color: #00BBFC;
		border-bottom: 4px solid #00BBFC;
		padding: 0 0 14px;
	}

	.menu_this>svg {
		fill: #00BBFC;
	}

	.dropbtn {
		cursor: pointer;
		border: none;
		outline: none;
		background-color: inherit;
		vertical-align: middle;
		margin-right: 30px;
		padding: 18px 0px;
	}

	.dropbtn>a {
		color: #000227;
		font-size: 14px;
		font-family: Minsans;
		text-decoration: none;
	}

	.dropbtn>a>svg {
		vertical-align: middle;
		transition: all 0.4s ease;
	}

	.dropbtn:hover>a>svg {
		transform: rotate(90deg);
		fill: #00BBFC;
	}

	.dropbtn>a>span>svg {
		vertical-align: middle;
		transition: all 0.4s ease;
	}

	.dropbtn:hover>a>span>svg {
		transform: rotate(90deg);
		fill: #00BBFC;
	}

	.dropbtn:hover {
		opacity: 80%;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown_content {
		display: none;
		position: absolute;
		background-color: #FFF;
		border-radius: 20px;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
		z-index: 5;
		margin-top: 0px;
	}

	.dropdown_content a {
		float: none;
		color: inherit;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
		color: #000227;
		font-family: Minsans;
		font-size: 14px;
	}

	.dropdown_content>a:hover {
		opacity: 80%;
	}

	.dropdown:hover .dropdown_content {
		display: block;
	}


	ul.breadcrumb {
		margin-left: -38px;
	}

	ul.breadcrumb svg {
		vertical-align: middle;
		color: #000227;
	}

	ul.breadcrumb li {
		display: inline-block;
	}

	ul.breadcrumb li+li:before {
		padding: 8px;
		content: "/\00a0";
	}

	ul.breadcrumb li a {
		color: #000227C3;
		font-size: 16px;
		font-family: TTNormsPro;
		text-decoration: none;
	}

	ul.breadcrumb li a:hover {
		color: #000227;
	}

	.arrow {
		border: solid #000227;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		margin-left: 10px;
	}

	.arrow:hover {
		color: #000227C3;
	}

	.down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}