body {
    width: 100%;
    margin: 0px;
    align-items: center;
    position: absolute;
}

.text_header {
    color: #000227;
    font-family: Eastman;
    font-size: 32px;
    margin-top: 70px;
}

.text_subheader {
  color: #0002273C;
  font-family: Minsans;
  font-size: 16x;
}

.inline {
    display: inline-block;
}

.middle {
  vertical-align: middle;
}

  *,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }