body {
    width: 100%;
    background: #F5F7FA;
    margin: 0px;
    align-items: center;
    position: absolute;
}

.text_header {
    color: #000227;
    font-family: Eastman;
    font-size: 32px;
    margin-top: 70px;
}