body {
    width: 100%;
    margin: 0px;
    align-items: center;
    position: absolute;
}

.text_header {
    color: #000227;
    font-family: Eastman;
    font-size: 32px;
    margin-top: 70px;
}

.inline {
    display: inline-block;
}

  *,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }