.calc {
    display: inline-block;
    background-color: #f5f7fa;
    margin-top: 5%;
}

.calc_head_text {
    width: 750px;
    font-size: 32px;
    font-family: Eastman;
    color: #000227;
    text-align: center;
    margin-left: 200px;
}

.calc_block_rect {
    width: 1170px;
    height: 500px;
    background-color: #ffff;
    display: inline-block;
    border-radius: 20px;
}

.calc_types1 {
    font-size: 18px;
    font-family: Eastman;
    color: #000227;
    float: left;
    margin-left: 15px;
    text-align: left;
    margin-right: 200px;
}

.calc_types2 {
    font-size: 18px;
    font-family: Eastman;
    color: #000227;
    margin-left: 7px;
    margin-right: 50PX;
}

.calc_types3 {
    font-size: 18px;
    font-family: Eastman;
    color: #000227;
    float: right;
    margin-left: 200px;
    margin-right: 70px;
}

.calc_margin {
    display: inline-flex;
    margin-top: 20px;
}

.select_metr {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-family: Minsans;
    margin-top: -65px;
}

.metr {
    margin-top: -50px;

}


.m10 {
    float: left;
    font-size: 12px;
}

.m100 {
    float: right;
    font-size: 12px;
}

.clean_type {
    align-items: center;
    font-size: 18px;
    margin-right: 330px;
}

.scape_type {
    font-size: 18px;
    float: left;
    margin-left: 50px;
}

select {
    border-radius: 30px;
    border: 1px #b7bbc7 solid;
    padding-right: 180px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.checkbox_block {
    margin-top: 30px;
    font-family: Minsans;
}

.check_block1 {
    float: left;
    font-size: 16px;
    margin-top: 17px;
}

.check_block3 {
    float: right;
    font-size: 16px;
    margin-right: 115px;
    margin-top: -10px;
}

.check_block2 {
    display: inline-block;
    font-size: 16px;
    margin-right: 110px;
}

.select_type_block {
    margin-top: 25px;
}

.check_mkad {
    margin-left: 28px;
}

.check_window {
    margin-top: 15px;
}

.check_cleaner {
    margin-left: 55px;
    margin-top: 15px;
}

.check_curtain {
    margin-top: 15px;

}

.check_ironing {
    margin-top: 15px;

}

.check_shower {
    margin-top: 15px;
    margin-left: 155px;
}

.check_light {
    margin-top: 15px;
}

.check_tech {
    margin-top: 15px;
    margin-right: 65px;
}

.checkbox.style-c {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.style-c input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.style-c input:checked~.checkbox__checkmark {
    background-color: #00bbfc;
}

.checkbox.style-c input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.style-c:hover input~.checkbox__checkmark {
    background-color: #eee;
}

.checkbox.style-c:hover input:checked~.checkbox__checkmark {
    background-color: #00bbfc;
}

.checkbox.style-c .checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
}

.checkbox.style-c .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox.style-c .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
}

.select_metr input {
    width: 320px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/***** Chrome, Safari, Opera и Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #e8ecf2;
    height: 3px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #e8ecf2;
    height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: #5cd5eb;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}