.calc {
    display: inline-block;
    background-color: #f5f7fa;
    margin-top: 5%;
}

.calc_head_text {
    width: 750px;
    font-size: 32px;
    font-family: Eastman;
    color: #000227;
    text-align: center;
    margin-left: 200px;
}

.calc_block_rect {
    width: 1170px;
    height: 500px;
    background-color: #ffff;
    display: inline-block;
    border-radius: 20px;
}

.calc_types1 {
    font-size: 18px;
    font-family: Eastman;
    color: #000227;
    float: left;
    margin-left: 15px;
    text-align: left;
    margin-right: 200px;
}

.calc_types2 {
    font-size: 18px;
    font-family: Eastman;
    color: #000227;
    margin-left: 7px;
    margin-right: 50PX;
}

.calc_types3 {
    font-size: 18px;
    font-family: Eastman;
    color: #000227;
    float: right;
    margin-left: 200px;
    margin-right: 70px;
}

.calc_margin {
    display: inline-flex;
    margin-top: 20px;
}

.select_metr {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-family: Minsans;
    margin-top: -10px;
}

.metr {
    margin-top: -50px;

}


.m10 {
    float: left;
    font-size: 12px;
}

.m100 {
    float: right;
    font-size: 12px;
}

.clean_type {
    align-items: center;
    font-size: 18px;
    margin-right: 170px;
}

.scape_type {
    font-size: 18px;
    float: left;
    margin-left: 50px;
}

select {
    border-radius: 30px;
    border: 1px #b7bbc7 solid;
    padding-right: 180px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.checkbox_block {
    margin-top: 30px;
    font-family: Minsans;
}

.check_block1 {
    float: left;
    font-size: 16px;
    margin-top: 17px;
}

.check_block3 {
    float: right;
    font-size: 16px;
    margin-right: 115px;
}

.check_block2 {
    display: inline-block;
    font-size: 16px;
    margin-right: 110px;
}

.select_type_block {
    margin-top: 25px;
}

.check_mkad {
    margin-left: 28px;
}

.check_window {
    margin-top: 15px;
}

.check_cleaner {
    margin-left: 55px;
    margin-top: 15px;
}

.check_curtain {
    margin-top: 15px;

}

.check_ironing {
    margin-top: 15px;

}

.check_shower {
    margin-top: 15px;
    margin-left: 155px;
}

.check_light {
    margin-top: 15px;
}

.check_tech {
    margin-top: 15px;
    margin-right: 65px;
}