@media only screen and (min-width: 1001px) {
    .main_service {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main_service_block {
        text-align: left;
    }

    .service_text {
        font-family: Eastman;
        font-weight: 400;
        font-size: 32px;
        top: 10%;
        margin-left: -45%;
        color: #000227;
    }

    .service_block {
        display: flexbox;
    }

    .rect {
        background: #f5f7fa;
        display: inline-block;
        vertical-align: top;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 20px;
        padding: 15px;
        position: relative;
    }

    .rect_text {
        display: inline-block;
        text-align: left;
        margin-left: 20px;
    }

    .rect_text_small {
        display: inline-block;
        text-align: left;
        margin-left: 20px;
    }

    .service_time_person {
        display: flex;
        margin-top: 5px;
    }

    .rect1 {
        width: 640px;
        height: 200px;
        background: #f5f7fa;
        display: inline-block;
        vertical-align: top;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 20px;
        padding: 15px;
        position: relative;
    }

    .rect2 {
        background: #f5f7fa;
        display: inline-block;
        vertical-align: top;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 20px;
        padding: 15px;
        position: relative;
        overflow: hidden;
        width: 440px;
        height: 200px;
        background: radial-gradient(ellipse farthest-corner at 170% 170%, #FFF, #FF6624 90%);
    }

    .rect3 {
        background: #f5f7fa;
        display: inline-block;
        vertical-align: top;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 20px;
        padding: 15px;
        position: relative;
        width: 540px;
        height: 200px;
    }

    .rect10 {
        width: 540px;
        height: 200px;
    }

    .rect_header {
        color: #000227;
        font-family: Eastman;
        font-size: 22px;
    }

    .rect_text1 {
        margin-top: -5%;
        margin-left: 5%;
        float: left;
    }

    .text1 {
        color: #ffff;
        line-height: 123.1%;
        font-family: Eastman;
        font-size: 32px;
        margin-bottom: 0px;
    }

    .text2 {
        color: #ffff;
        line-height: 123.1%;
        font-family: Eastman;
        font-size: 16px;
        margin-top: 5px;
    }

    .time_worker {
        font-family: TTNormsPro;
        font-weight: 400;
        font-size: 16px;
        line-height: 123.1%;
        color: #62647b;
    }

    .time {
        float: right;
        text-align: right;
        color: #000227;
        font-family: Minsans;
    }

    .price_table {
        margin-top: 40px;
    }

    .price {
        color: #000227;
        float: left;
        margin-left: 1%;
        margin-top: 2%;
        font-family: Eastman;
        font-size: 18px;
    }

    .view_more_small {
        padding-right: 90px;
        padding-left: 90px;
        float: right;
        font-size: 14px;
        font-family: Eastman;
        border: 2px #00bbfc;
        border-style: solid;
        border-radius: 30px;
        text-align: left;
        background-color: #f5f7fa;
        color: #000227;
    }

    .view_more_small:hover {
        background-color: #00bbfc;
        color: #FFF;
        cursor: pointer;
    }

    .arrow {
        float: right;
        margin-right: -70%;
        margin-top: 7%;
        width: 22px;
        height: 22px;
        background-image: url(assets/arrow.png);
        background-repeat: no-repeat;
    }

    .arrow_small {
        float: right;
        margin-right: -40%;
        margin-top: 7%;
        width: 22px;
        height: 22px;
        background-image: url(assets/arrow.png);
        background-repeat: no-repeat;
    }

    .person_img {
        float: right;
        width: 17px;
        height: 17px;
        margin-right: 5px;
        background-image: url(assets/people.png);
        background-repeat: no-repeat;
    }

    .round_img {
        float: left;
        top: 28px;
        left: 28px;
        border-radius: 100px;
    }

    .view_more_text {
        float: left;
        padding: 15px;
        margin-left: -55%;
    }

    .view_more_text_small {
        float: left;
        padding: 15px;
        margin-left: -40%;
    }

    .price1 {
        float: left;
        margin-left: 1%;
        margin-top: 2%;
        font-family: Eastman;
        font-size: 18px;
    }

    .arrow1 {
        float: right;
        margin-right: -70%;
        margin-top: 7%;
        width: 22px;
        height: 22px;
        background-image: url(assets/arrow.png);
        background-repeat: no-repeat;
    }

    .time_img {
        width: 17px;
        height: 17px;
        margin-right: 5px;
        background-image: url(assets/clock.png);
        float: right;
        background-repeat: no-repeat;
    }

    .price {
        float: left;
        margin-left: 1%;
        margin-top: 2%;
        font-family: Eastman;
        font-size: 18px;
    }

    .view_more {
        padding-right: 150px;
        padding-left: 120px;
        float: right;
        font-size: 14px;
        font-family: Eastman;
        border: 2px #00bbfc;
        border-style: solid;
        border-radius: 30px;
        text-align: left;
        background-color: #f5f7fa;
        cursor: pointer;
        color: #000227;
    }

    .view_more:hover {
        background-color: #00bbfc;
        color: #FFF;
    }

    .img1 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_1.png);
    }

    .img2 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_2.jpg);
    }

    .img3 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_3.jpg);
    }

    .img4 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_4.jpg);
    }

    .img5 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_5.jpg);
    }

    .img6 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_6.jpg);
    }

    .img7 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_7.jpg);
    }

    .img8 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_8.jpg);
    }

    .img9 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_9.jpg);
    }

    .img10 {
        width: 130px;
        height: 150px;
        position: absolute;
        left: 320px;
        top: 53px;
        background-image: url(assets/service_10.png);
        background-repeat: no-repeat;
    }

    .button_stok {
        color: #000227;
        width: 217px;
        height: 53px;
        margin-top: 13px;
        background-color: #ffff;
        border-color: #ffff;
        border-radius: 30px;
        border-style: solid;
        font-family: Eastman;
        font-size: 14px;
        cursor: pointer;
    }

    .button_stok:hover {
        opacity: 80%;
    }

    .scape_type {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .text_header {
        color: #000227;
        font-family: Eastman;
        font-size: 24px;
        margin-top: 70px;
        width: 350px;
    }

    .main_service {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main_service_block {
        text-align: left;
        /* margin-left: 20px; */
    }

    .service_text {
        font-family: Eastman;
        font-weight: 400;
        font-size: 32px;
        top: 10%;
        margin-left: -45%;
        color: #000227;
    }

    .service_block {
        display: flexbox;
    }

    .rect {
        background: #f5f7fa;
        display: inline-block;
        border-radius: 20px;
        margin-top: 20px;
        padding: 15px;
        width: 350px;
        height: 390px;
    }

    .rect_text {
        display: inline-block;
        text-align: left;
        margin-top: 15px;
    }

    .rect_text_small {
        display: inline-block;
        text-align: left;
        margin-top: 15px;
    }

    .service_time_person {
        display: flex;
        margin-top: 10px;
    }

    .rect1 {
        background: #f5f7fa;
        border-radius: 20px;
        margin-top: 20px;
        padding: 15px;
        position: relative;
        line-height: normal;
    }

    .rect2 {
        display: none;
    }

    .rect3 {
        background: #f5f7fa;
        border-radius: 20px;
        margin-top: 20px;
        padding: 15px;
        position: relative;
        line-height: normal;
    }

    .rect10 {
        width: 540px;
        height: 200px;
    }

    .rect_header {
        color: #000227;
        font-family: Eastman;
        font-size: 18px;
    }

    .rect_text1 {
        margin-top: -5%;
        margin-left: 5%;
        float: left;
    }

    .time_worker {
        font-family: TTNormsPro;
        font-weight: 400;
        font-size: 16px;
        line-height: 123.1%;
        color: #62647b;
    }

    .time {
        float: right;
        text-align: right;
        color: #000227;
        font-family: Minsans;
    }

    .price_table {
        margin-top: 40px;
    }

    .price {
        color: #000227;
        float: left;
        margin-left: 1%;
        margin-top: 2%;
        font-family: Eastman;
        font-size: 18px;
    }

    .view_more_small {
        margin-top: 25px;
        padding-right: 50px;
        padding-left: 50px;
        float: right;
        font-size: 14px;
        font-family: Eastman;
        border: 2px #00bbfc;
        border-style: solid;
        border-radius: 30px;
        text-align: left;
        background-color: #f5f7fa;
        color: #000227;
    }

    .view_more_small:hover {
        background-color: #00bbfc;
        color: #FFF;
        cursor: pointer;
    }

    .arrow {
        float: right;
        margin-right: -20%;
        margin-top: 10%;
        width: 22px;
        height: 22px;
        background-image: url(assets/arrow.png);
        background-repeat: no-repeat;
    }

    .arrow_small {
        float: right;
        margin-right: -20%;
        margin-top: 10%;
        width: 22px;
        height: 22px;
        background-image: url(assets/arrow.png);
        background-repeat: no-repeat;
    }

    .person_img {
        float: right;
        width: 17px;
        height: 17px;
        margin-right: 5px;
        background-image: url(assets/people.png);
        background-repeat: no-repeat;
    }

    .round_img {
        float: left;
        top: 28px;
        left: 28px;
        border-radius: 100px;
    }

    .view_more_text {
        float: left;
        padding: 15px;
        margin-left: -20%;
        margin-bottom: 5px;
    }

    .view_more_text_small {
        float: left;
        padding: 15px;
        margin-left: -20%;
    }

    .price1 {
        float: left;
        margin-left: 1%;
        margin-top: 2%;
        font-family: Eastman;
        font-size: 18px;
    }

    .arrow1 {
        float: right;
        margin-right: -20%;
        margin-top: 10%;
        width: 22px;
        height: 22px;
        background-image: url(assets/arrow.png);
        background-repeat: no-repeat;
    }

    .time_img {
        width: 17px;
        height: 17px;
        margin-right: 5px;
        background-image: url(assets/clock.png);
        float: right;
        background-repeat: no-repeat;
    }

    .price {
        float: left;
        margin-left: 1%;
        margin-top: 2%;
        font-family: Eastman;
        font-size: 18px;
    }

    .view_more {
        margin-top: 25px;
        padding-right: 50px;
        padding-left: 50px;
        float: right;
        font-size: 14px;
        font-family: Eastman;
        border: 2px #00bbfc;
        border-style: solid;
        border-radius: 30px;
        text-align: left;
        background-color: #f5f7fa;
        color: #000227;
    }

    .view_more:hover {
        background-color: #00bbfc;
        color: #FFF;
    }

    .img1 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_1.png);
    }

    .img2 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_2.jpg);
    }

    .img3 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_3.jpg);
    }

    .img4 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_4.jpg);
    }

    .img5 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_5.jpg);
    }

    .img6 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_6.jpg);
    }

    .img7 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_7.jpg);
    }

    .img8 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_8.jpg);
    }

    .img9 {
        width: 100px;
        height: 100px;
        background-image: url(assets/service_9.jpg);
    }

    .img10 {
        width: 130px;
        height: 150px;
        position: absolute;
        left: 320px;
        top: 53px;
        background-image: url(assets/service_10.png);
        background-repeat: no-repeat;
    }

    .button_stok {
        color: #000227;
        width: 217px;
        height: 53px;
        margin-top: 13px;
        background-color: #ffff;
        border-color: #ffff;
        border-radius: 30px;
        border-style: solid;
        font-family: Eastman;
        font-size: 14px;
        cursor: pointer;
    }

    .button_stok:hover {
        opacity: 80%;
    }

    .scape_type {
        font-size: 16px;
    }

}