.main_info {
    margin-top: 30px;
    background-color: #f5f7fa;
}

.main_info_tiles {
    display: inline-block;
}

.tile1 {
    background: #ffff;
    top: 50px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 570px;
    height: 170px;
}

.tile2 {
    background: #ffff;
    top: 50px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 570px;
    height: 170px;
}

.tile3 {
    background: #ffff;
    top: 50px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 570px;
    height: 170px;
}

.tile4 {
    background: #ffff;
    top: 50px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 570px;
    height: 170px;
}

.round_tile {
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.img_tile1 {
    background-image: url(assets/tile1.png)
}

.img_tile2 {
    background-image: url(assets/tile2.png)
}

.img_tile3 {
    background-image: url(assets/tile3.png)
}

.img_tile4 {
    background-image: url(assets/tile4.png)
}

.main_info_img1 {
    border-radius: 20px;
    width: 470px;
    height: 302px;
    background-image: url(assets/cleaning.png);
    background-repeat: no-repeat;
    float: right;
}

.cleaning_text1 {
    width: 620px;
    font-size: 32px;
    font-family: Eastman;
    text-align: left;
    color: #000227;
}

.cleaning_text2 {
    width: 620px;
    font-size: 16px;
    font-family: Minsans;
    text-align: left;
    color: #00022799;
}

.main_info_block{
    display: inline-block;
}

.text{
    margin-right: 70px;
}

.tiles_text1 {
    font-size: 20px;
    font-family: Eastman;
    float: left;
    color: #000227;
    margin-top: 30px;
    margin-left: 25px;
    text-align: left;
}

.tiles_text2 {
    font-size: 16px;
    font-family: Minsans;
    color: #00022799;
    float: left;
    margin-top: 5px;
    text-align: left;
    margin-left: 25px;
}

.tiles_text{
    display: inline-block;
}
