@import url(fonts.css);

.slider_works_width {
  width: 550px;
}
.itc-slider__items_works > .itc-slider__item > div > * {
  border-radius: 20px;
  width: 550px;
  height: 293px;
}
.slider_works_width > div > .itc-slider__btn_prev {
  left: 20px;
  background-image: url(assets/white_arrow_left.png);
  cursor: pointer;
}
.slider_works_width > div > .itc-slider__btn_next {
  right: 20px;
  background-image: url(assets/white_arrow_right.png);
  cursor: pointer;
}
.slider_works_width > div > .itc-slider__btn {
  top: 42%;
}

.itc-slider__items_works > .itc-slider__item {
  max-width: 100%;
}
.itc-slider__btn_prev_works:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000227' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.itc-slider__btn_next_works:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000227' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}