@import url(fonts.css);

  .itc-slider__btn_hide {
    display: none;
  }
  
  .itc-slider__btn:hover {
    opacity: 80%;
  }
  
  .itc-slider__btn::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
    .itc-slider__item {
      max-width: 33.3333333333%;

      display: block;
      justify-content: center;
      align-items: center;
    }

    .slider_height > div > * {
      height: 320;
      width: 620;
    }

    .sales > .itc-slider__btn {
      top: 41%;
    }
    
    .slider_works_width {
      width: 620px;
    }
    
    .itc-slider__items_works > .itc-slider__item > div > * {
      border-radius: 20px;
      width: 620px;
      height: 320px;
    }

    .slider_works_width > div > .itc-slider__btn {
      top: 47%;
    }

    .itc-slider__items_works > .itc-slider__item {
      max-width: 100%;
    }